:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dark: #000;
  --light: #fff;
  --accent: rgb(104, 178, 85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main {
  flex: 1;
  display: flex;
}

#gamecanvas {
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

.gameUI {
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.gameUI * {
  text-align: center;
  margin-top: 5px;
}

#gameStart {
  display: flex;
}

#gameEnd {
  display: none;
}

#startBtn {
  display: inline-block;
  width: 100px;
  padding: 8px 15px;
  margin: 20px 0;
  text-align: center;
  font-family: inherit;
  border-radius: 10px;
}

#startBtn p {
  margin-top: 0;
}

#startBtn:hover {
  background-color: var(--dark);
  border: 0.5px solid var(--light);
  color: var(--light);
  cursor: pointer;
}